{% extends "WaldoExempleBundle::base.html.twig" %}

{% block content %}
<h1>Welcome to the OpenID Connect Relying Party Test</h1>

<p>This page doesn't need any authentication</p>

<p><a href="{{ path("_private_page") }}">Click this link to go to a private page</a></p>

{% endblock content %}